.DS_Store
literature-review/scientific/overview/~$overview_sheet.xlsx
.ipynb_checkpoints
code/data/*/*.mat
code/utils/__pycache__/
**/.vscode/**
code/experimental-notebooks/logs/**/
!code/experimental-notebooks/logs/**.zip
code/data/figures/funding_data.csv
